body {
  font-family: sans-serif;
}

.district {
  stroke: black;
}

.map-container {
  height: 100%;
}

.container-header{
  padding: .75rem;
}


h1 {
/*   /1* font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; *1/ */
  font-family: 'Yantramanav';
}

/* .page-header { */
/*   padding: 1.5rem 0rem 2rem; */
/*   max-width: 66%; */
/*   text-align: left; */
/* } */

/* .glow { */
/*   stroke: #f4b342; */
/*   stroke-width: 2px; */
/* } */

.ui.card.table-card {
  /* border: none; */
}

.ui.table {
  border: none;
  width: 100%;
}

table {
  border: none;
}

.district-select {
  color: darkblue;
  text-decoration: underline;
  border-bottom: 2px darkblue solid;
}

.bar {
  fill: darkblue;
}

.bar-label {
  font-size: 10px;
  line-height: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  vertical-align: top;
}

.label-container {
  margin-top: 5px !important;
  table-layout: fixed;
  width: 100%;
}
