body {
  font-family: sans-serif;
}

.district {
  stroke: black;
}

.highlighted-district {
  stroke: #f4b342;
  stroke-width: 3px;
  mask: url(#mask-stripe)
}

.container-header{
  padding: .75rem;
}


h1 {
/*   /1* font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; *1/ */
  font-family: 'Yantramanav';
}

/* .page-header { */
/*   padding: 1.5rem 0rem 2rem; */
/*   max-width: 66%; */
/*   text-align: left; */
/* } */

/* .glow { */
/* } */

.ui.table {
  border: none;
  width: 100%;
}

.top-ten-table {
  border: none;
}

.separator {
  width: 1px;
  background: linear-gradient(180deg, white, lightgrey 50%, white 90%);
}

.table-card {
  padding-top: 7%;
  width: 99%;
}

/* .info-container { */
/*   border-left: 1px solid lightgrey; */
/* } */

.district-select {
  color: darkblue;
  text-decoration: underline;
  border-bottom: 2px darkblue solid;
}

.bar {
  fill: darkblue;
}

.bar-label {
  font-size: 10px;
  line-height: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  vertical-align: top;
  text-align: center !important;
}

.grayed {
  color: lightgray;
}

.label-container {
  margin-top: 0px !important;
  table-layout: fixed;
  width: 100%;
}

.ui.tabular.menu .item {
  padding: 5px !important;
}

.wrapped {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ui.attached.menu {
  border: none !important;
}

.ui.menu .item:before {
  width: none;
}

a.item {
  border: 1px solid #d4d4d5;
  padding: 10px !important;
}

.tooltip {
  background-color: #fcf3ed;
  line-height: 15px;
  border-radius: 3px;
  font-size: 12px;
  padding: 3px;
  border: 1px solid darkgrey;
}

.top-details-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.top-details {
  border: 1px solid black;
}

.turnout-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
