.App {
  text-align: center;
}

#map-top{
  padding-right: 10%;
  padding-left: 10%;
  display: flex;
  justify-content: space-between;
}


body {
  font-family: 'Lato', sans-serif;
  color: #5E5E5E !important;
}

.district {
  stroke: black;
  cursor: pointer;
}

.district-enter {
  opacity: 0.01;
}

.district-enter.district-enter-active {
  opacity: 1;
  transition: 500ms ease;
}

.district-exit {
  opacity: 1;
  transition: opacity 500ms ease;
}

.district-exit.district-exit-active {
  opacity: 0.01;
}

.highlighted {
  stroke: #f4b342;
  stroke-width: 3px;
  mask: url(#mask-stripe)
}

.container-header{
  padding: .75rem;
}


h1 {
/*   /1* font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; *1/ */
  font-family: 'Yantramanav';
}

.ui.table {
  border: none;
  width: 100%;
}

.top-ten-table {
  border: none;
}

.separator {
  width: 1px;
  background: linear-gradient(180deg, white, lightgrey 50%, white 90%);
}

.table-card {
  padding-top: 7%;
  width: 99%;
}

.district-select {
  color: darkblue;
  text-decoration: underline;
  border-bottom: 2px darkblue solid;
}

.bar {
  fill: darkblue;
}

.bar-label {
  font-size: 10px;
  line-height: 10px;
  word-wrap: normal;
  /* overflow-wrap: break-word; */
  vertical-align: top;
  text-align: center !important;
}

.grayed {
  color: lightgray;
}

.label-container {
  margin-top: 0px !important;
  table-layout: fixed;
  width: 100%;
}

.ui.tabular.menu .item {
  padding: 5px !important;
}

.wrapped {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ui.attached.menu {
  border: none !important;
}

.ui.menu .item:before {
  width: none;
}

.top-ten-row {
  cursor: pointer; 
}

a.item {
  border: 1px solid #d4d4d5;
  padding: 10px !important;
}

.tooltip {
  background-color: #fcf3ed;
  line-height: 15px;
  border-radius: 3px;
  font-size: 12px;
  padding: 3px;
  border: 1px solid darkgrey;
  z-index: 1071;
  pointer-events: none;
}

.top-details {
  border: 1px solid black;
  padding: 20px 0px 20px 20px;
  text-align: center;
  background-color: #FCFAF9;
}

.footer {
  border-top: 1px solid #d4d4d5;
  margin-top: 2%;
  background-color: #FCFAF9;
}

.top-label {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.turnout-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
