body {
  /* margin: 0; */
  /* padding: 0; */
  font-family: sans-serif;
  /* background-color: black;
  color: #cecaca; */
}

.container-header {
  padding: .75rem;
}

.flex-container {
  display: flex;
  justify-content: space-evenly
}

h1 {
  /* font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: 'Yantramanav';
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: .05rem;
  margin-bottom: 2rem;
  color: #cecaca;
}

.page-header {
  padding: 1.5rem 0rem 2rem;
  max-width: 66%;
  text-align: left;
}

.glow {
  stroke: #f4b342;
  stroke-width: 2px;
}
